{% extends 'blog/base.html' %}
{% block content %}
	<div class="menu">
		<ul>
			<li><a href="#">anime</a></li>
			<li><a href="#">culture</a></li>
			<li><a href="#">war</a></li>
			<li><a href="#">game</a></li>
		</ul>
	</div>
	<div class="txt-central">

		<a href="/">home</a>
	</div>
	<div class="left">
			{% for post in posts %}
	<div> 
		<p>published: {{ post.published_date }}</p>
		{%if user.is_authenticated %}
		<p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
		{%endif%}

{% endfor %}
	</div>
{% endblock %}